
.sidebar 
    position: fixed
    left: 0
    top: 0
    background-color: #2C12FF
    width: 100%
    max-width: 210px
    height: 100%
    padding-inline: 2rem
    padding-block: 6rem 

    &_link
        margin-bottom: 5rem
        cursor: pointer
        
        color: white
        
        a
            display: flex
            align-items: center

        svg 
            margin-right: 2rem

        &:last-child
            margin-bottom: 0