.auth

    &_inner
        display: flex
        align-items: center
        justify-content: space-between

    &_content
        width: 100%
        max-width: 448px
        margin-right: 250px

    &_img
        &-parent
            width: 600px
            height: 100vh
            background: linear-gradient(229.24deg, #8475FF 14.36%, #3419FF 70.91%)
            position: relative

        &-child
            width: 534px
            height: 571px
            background: #EBEBEB
            transform: matrix(-1, 0, 0, 1, 0, 0)
            position: absolute
            left: 50%
            top: 50%
            border-radius: 10px
            transform: translate(-50%, -50%)

            img
                margin-top: 50%
                transform: translateY(-50%)

